/obj/**/*.o
/obj/**/*.a
/obj/**/*.d
/deark
/deark.exe
/deark.1
/src/deark.aps
/proj/vs2019/*.vcxproj.user
/proj/vs2019/.vs
/proj/vs2022/*.vcxproj.user
/proj/vs2022/.vs
/Debug32/
/Debug64/
/Release32/
/Release64/
